<input type="text" placeholder="Filter your to-dos" ng-model="filterText">
<ol>
  <li ng-repeat="todo in $ctrl.list | filter: filterText track by $index">
    <div class="flexLi">
      <div class="listTask">{{todo.task}}</div>
      <div class="clickers">
        <span ng-click="$ctrl.removeMe(todo.id)" xhov>
          <i class="material-icons">close</i>
        </span>
        <span ng-click="$ctrl.updateListItem('click test',todo.id)" xhov>
          <i class="material-icons">edit</i>
        </span>
      </div>
    </div>
  </li>
</ol>
